<script>
	import '../app.css';
</script>

<div class="flex flex-col min-h-screen">
  <slot />
	<footer class="flex flex-col justify-center items-center p-[12px]">
		<p>visit <a href="https://kit.svelte.dev" class="font-bold">kit.svelte.dev</a> to learn SvelteKit</p>
	</footer>
</div>

<style>
	@media (min-width: 480px) {
		footer {
			padding: 12px 0;
		}
	}
</style>
