<script>
	import Counter from './Counter.svelte';
	import welcome from '$lib/images/svelte-welcome.webp';
	import welcome_fallback from '$lib/images/svelte-welcome.png';
	import Header from './Header.svelte';
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<Header />
<main class="flex-[1] flex flex-col w-full mx-auto my-0 p-[1rem] max-w-[64rem] box-border">
  <section class="flex flex-col justify-center items-center flex-[0.6]">
    <h1 class="w-full">
      <span class="block relative top-0 w-full h-0 pt-0 pr-0 pb-[calc(100%*495/2048)] pl-0">
        <picture>
          <source srcset={welcome} type="image/webp" />
          <img src={welcome_fallback} alt="Welcome" class="block absolute top-0 w-full h-full" />
        </picture>
      </span>

      to your new<br />SvelteKit app
    </h1>

    <h2>
      try editing <strong>src/routes/+page.svelte</strong>
    </h2>

    <Counter />

    <div>
      <a href="/quiz">Aplikasi kuis</a>
    </div>
  </section>
</main>

<style>
</style>
