<script>
	import { page } from '$app/stores';
	import logo from '$lib/images/svelte-logo.svg';
	import github from '$lib/images/github.svg';
</script>

<header class="flex justify-between">
	<div class="corner">
		<a href="https://kit.svelte.dev">
			<img src={logo} alt="SvelteKit" />
		</a>
	</div>

	<nav class="flex justify-center bg-white bg-opacity-70">
		<svg viewBox="0 0 2 3" aria-hidden="true" class="block w-[2em] h-[3em]">
			<path d="M0,0 L1,2 C1.5,3 1.5,3 2,3 L2,0 Z" class="fill-white opacity-70"/>
		</svg>
		<ul class="relative p-0 m-0 h-[3em] flex justify-center items-center list-none bg-white bg-opacity-70 bg-contain">
			<li aria-current={$page.url.pathname === '/' ? 'page' : undefined} class="relative h-full">
				<a href="/" class="flex h-full items-center no-underline text-black text-opacity-70 hover:text-[#ff3e00] pt-0 pr-0 pb-[0.5rem] pl-[0.5rem] text-[0.8rem] uppercase font-bold tracking-widest transition duration-[200ms] ease-linear">Home</a>
			</li>
			<li aria-current={$page.url.pathname === '/about' ? 'page' : undefined} class="relative h-full">
				<a href="/about" class="flex h-full items-center no-underline text-black text-opacity-70 hover:text-[#ff3e00] pt-0 pr-0 pb-[0.5rem] pl-[0.5rem] text-[0.8rem] uppercase font-bold tracking-widest transition duration-[200ms] ease-linear">About</a>
			</li>
			<li aria-current={$page.url.pathname.startsWith('/sverdle') ? 'page' : undefined} class="relative h-full">
				<a href="/sverdle" class="flex h-full items-center no-underline text-black text-opacity-70 hover:text-[#ff3e00] pt-0 pr-0 pb-[0.5rem] pl-[0.5rem] text-[0.8rem] uppercase font-bold tracking-widest transition duration-[200ms] ease-linear">Sverdle</a>
			</li>
			<li aria-current={$page.url.pathname.startsWith('/sverdle') ? 'page' : undefined} class="relative h-full">
				<a href="/demo" class="flex h-full items-center no-underline text-black text-opacity-70 hover:text-[#ff3e00] pt-0 pr-0 pb-[0.5rem] pl-[0.5rem] text-[0.8rem] uppercase font-bold tracking-widest transition duration-[200ms] ease-linear">Demo UI</a>
			</li>
		</ul>
		<svg viewBox="0 0 2 3" aria-hidden="true" class="block w-[2em] h-[3em]">
			<path d="M0,0 L0,3 C0.5,3 0.5,3 1,2 L2,0 Z" class="fill-white opacity-70"/>
		</svg>
	</nav>

	<div class="corner">
		<a href="https://github.com/sveltejs/kit">
			<img src={github} alt="GitHub" />
		</a>
	</div>
</header>
