<script>
import Header from '../Header.svelte'
</script>

<svelte:head>
	<title>API Slack</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<Header/>
<section class="flex flex-col justify-center items-center flex-[0.6]">
  <h1>API Slack</h1>

  <div>

  </div>
</section>

<style>
</style>

