<script>
	import Header from '../Header.svelte';
	import zianka from '$lib/images/zianka.jpg';
</script>

<svelte:head>
	<title>Components</title>
	<meta name="description" content="Demo components UI" />
</svelte:head>

<Header/>
<div class="flex flex-col justify-center items-center gap-3 m-5">
  <div class="mb-2 w-1/2">
    <figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
      <img src="{zianka}" class="w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto"/>
      <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <blockquote>
          <p class="text-lg font-medium text-slate-300">“Tailwind CSS is the only framework that I've seen scale
        on large teams. It’s easy to customize, adapts to any design,
        and the build size is tiny.”</p>
        </blockquote>
        <figcaption class="font-medium">
          <div class="text-sky-500 dark:text-sky-400">
            Sarah Dayan
          </div>
          <div class="text-slate-700 dark:text-slate-500">
            Staff Engineer, Algolia
          </div>
        </figcaption>
      </div>
    </figure>
  </div>

  <div class="mb-2">
    <button class="bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 text-sm text-white font-semibold h-12 px-6 rounded-lg flex items-center dark:bg-slate-700 dark:hover:bg-slate-600 pointer-events-auto">Show more...</button>
  </div>

  <div class="mb-2">
    <ul class="flex">
      <li class="p-2"><a href="" class="block hover:text-slate-500">Home</a></li>
      <li class="p-2"><a href="" class="block hover:text-slate-500">Shorts</a></li>
      <li class="p-2"><a href="" class="block hover:text-slate-500">Subscriptions</a></li>
      <li class="p-2"><a href="" class="block hover:text-slate-500">Your Channel</a></li>
    </ul>
  </div>
</div>

<style>
</style>

