<script>
	import Header from '../Header.svelte';
</script>

<svelte:head>
	<title>Zahoot!</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<Header/>
<section class="flex flex-col justify-center items-center flex-[0.6]">
  <h1>Zahoot! (Kahoot! clone)</h1>

  <div>

  </div>
</section>

<style>
</style>

