<script>
	import Header from '../Header.svelte';
</script>
<svelte:head>
	<title>Demo</title>
	<meta name="description" content="Demo User Interface" />
</svelte:head>

<Header />
<div class="container mx-auto text-column">
	<h1 class="py-5">Demo User Interface</h1>

	<p>
    Demo interface mulai dari card sampai halaman login
	</p>

  <div class="pt-10">
    <ul class="w-1/3">
      <li class="border-2 border-blue-400 p-2 bg-blue-200 hover:bg-blue-300 rounded mb-2"><a href="/components" class="hover:underline block">Card</a></li>
      <li class="border-2 border-blue-400 p-2 bg-blue-200 hover:bg-blue-300 rounded mb-2"><a href="/components" class="hover:underline block">Button</a></li>
      <li class="border-2 border-blue-400 p-2 bg-blue-200 hover:bg-blue-300 rounded mb-2"><a href="/components" class="hover:underline block">Horizontal Menu</a></li>
      <li class="border-2 border-blue-400 p-2 bg-blue-200 hover:bg-blue-300 rounded mb-2"><a href="/apislack" class="hover:underline block">Api Slack</a></li>
      <li class="border-2 border-blue-400 p-2 bg-blue-200 hover:bg-blue-300 rounded mb-2"><a href="/quiz" class="hover:underline block">Quiz</a></li>
      <li class="border-2 border-blue-400 p-2 bg-blue-200 hover:bg-blue-300 rounded mb-2"><a href="/blog" class="hover:underline block">Blog</a></li>
    </ul>
  </div>
</div>
